/* ===== Header ===== */
.header {
  display: flex;
  flex-direction: column;
  padding: var(--space-lg);
  gap: var(--space-md);
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
  gap: var(--space-2xl);
}

.header__button {
  font-weight: var(--font-bold);
}

.header__button--login {
  background-color: var(--color-button);
  color: var(--color-text-inverted);
  padding: var(--space-xs) var(--space-2xl);
  border-radius: var(--radius-xs);
}

.header__button--login:hover {
  background-color: var(--color-button-hover);
  transform: translateY(-1px);
}

.logo__subtext {
  font-size: var(--text-sm);
  font-family: var(--font-subtext);
}

/* ===== Navigation ===== */
.nav {
  display: flex;
  gap: var(--space-xl);
}

.nav__link {
  font-size: var(--text-md);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  color: var(--color-text);
}

.nav__link:hover,
.nav__link.active {
  color: var(--color-text-accent);
}


