@import "modern-normalize";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
}

button,
a {
  cursor: pointer;
  font-family: var(--font-secondary);
  transition: var(--transition-fast);
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

*:focus-visible{
  outline: none;
}

h1 {
  font-size: var(--text-2xl);
  font-family: var(--font-title);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}

h5 {
  font-size: var(--text-sm);
}

fieldset {
  border: none;
}

.icon-sm {
  width: var(--space-sm);
  height: var(--space-sm);
  display: inline-block;
  vertical-align: middle;
}

.icon-md {
  width: var(--space-md);
  height: var(--space-md);
  display: inline-block;
  vertical-align: middle;
}

.icon-lg {
  width: var(--space-lg);
  height: var(--space-lg);
  display: inline-block;
  vertical-align: middle;
}