spring:
  application:
    name: recipes-platform

  datasource:
    url: jdbc:mysql://localhost:3306/recipes_platform?useSSL=false&serverTimezone=UTC
    username: bestuser
    password: bestuser
    driver-class-name: com.mysql.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  security:
    user:
      name: user
      password: test